@model EFSRT_TORQUE.Models.Compras

@{
    ViewBag.Title = "Registrar Compra";
}
<main class="body">

    <div class="txtTittle">
        <p class="paddistance">Registrar Una Compra</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Nuevo Compra</p></li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Compras", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Fecha)
            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Fecha)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProveedorID)
            @Html.TextBoxFor(m => m.ProveedorID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProveedorID)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Total)
            @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Total)
        </div>
        
        <button type="submit" class="btn btn-primary">Agregar</button>
    }

    <div>

        @Html.ActionLink("Volver a la Lista", "ListarCompras")

    </div>

</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
