@model EFSRT_TORQUE.Models.Compras

@{
    ViewBag.Title = "Editar Compras";
}

<main>


    <div class="txtTittle">
        <p class="paddistance">Editar Compras</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Ingresar Datos</p></li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("Edit", "Compras", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="tituloreg">Compras</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="boxitem">
                @Html.LabelFor(model => model.CompraID, htmlAttributes: new { @class = "itemText" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompraID, new { htmlAttributes = new { @class = "inputsstyle" } })
                    @Html.ValidationMessageFor(model => model.CompraID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="boxitem">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "itemText" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "inputsstyle" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="boxitem">
                @Html.LabelFor(model => model.ProveedorID, htmlAttributes: new { @class = "itemText" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProveedorID, new { htmlAttributes = new { @class = "inputsstyle" } })
                    @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="boxitem">
                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "itemText" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "inputsstyle" } })
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="buttons warning" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver a la Lista", "ListarCompras", null, new { @class = "buttons info" })
    </div>



</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
