@model EFSRT_TORQUE.Models.Clientes

@{
    ViewBag.Title = "Detalles Cliente";
}

<main>

    <div class="txtTittle">
        <p class="paddistance">Detalles Clientes</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Informacion de los Datos</p></li>
            </ul>
        </div>
    </div>


    <div>
        <h4>Clientes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClienteID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClienteID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditCliente", new { id = Model.ClienteID }, new { @class = "buttons warning" }) |
        @Html.ActionLink("Volvera la lista", "ListarClientes",null, new { @class = "buttons info" })
    </p>

</main>