@model IEnumerable<EFSRT_TORQUE.Models.Clientes>

@{
    ViewBag.Title = "Listar Clientes";
}

<main >

    <div class="txtTittle">
        <p class="paddistance">Listar Clientes</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Buenos Tardes Estrellitas, El Mundo les dice HOLA</p></li>
                <li><p>Gestionar cotizaciones</p></li>
                <li><p>Validar cotizacion</p></li>
            </ul>
        </div>
        <div class="filterMenu paddistance">
            <p>Ordenar:</p>
            <div class="ordermenu">
                <div class="filtersitem">
                    <ul>
                        <li class="dropPopitem">
                            <p>Todos los tipos</p>
                            <ion-icon class="txtcolorgraydark"
                                      name="caret-down-outline"></ion-icon>
                        </li>
                        <li class="dropPopitem">
                            <p>Todos los estados</p>
                            <ion-icon class="txtcolorgraydark"
                                      name="caret-down-outline"></ion-icon>
                        </li>
                        <li class="dropPopitem">
                            <p>Por nombre</p>
                            <ion-icon class="txtcolorgraydark"
                                      name="caret-down-outline"></ion-icon>
                        </li>
                        <li class="dropPopitem">
                            <p>Año: 2024</p>
                            <ion-icon class="txtcolorgraydark"
                                      name="caret-down-outline"></ion-icon>
                        </li>
                        <li class="dropPopitem">
                            <p>Mes: Enero</p>
                            <ion-icon class="txtcolorgraydark"
                                      name="caret-down-outline"></ion-icon>
                        </li>
                    </ul>
                </div>
                <hr />
            </div>
        </div>
    </div>


    <div class="bannerCotizacion">
        <div>
            <p class="txtcolorgray">Mostrando 1 - 20 resultados</p>
        </div>
        <div>
            <div><img src="" alt="" /></div>
            <div><img src="" alt="" /></div>
            <!-- !! -->
            <div>
                <a>

                    @Html.ActionLink("Nuevo", "CreateCliente", new { area = "" }, new { @class = "addcotizacion" })
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            
            <tr class="itmTable">
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditCliente", new { id = item.ClienteID }, new { @class = "buttons info" }) |
                    @Html.ActionLink("Detalles", "DetailsCliente", new { id = item.ClienteID }, new { @class = "buttons warning" }) |
                    @Html.ActionLink("Eliminar", "DeleteCliente", new {  id=item.ClienteID }, new { @class = "buttons danger" })

                </td>
            </tr>
        }

    </table>

</main>