@model EFSRT_TORQUE.Models.Proveedores

@{
    ViewBag.Title = "Agregar Proveedor";
}
<main class="body">

    <div class="txtTittle">
        <p class="paddistance">Agregar Un Proveedor</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Nuevo Proveedor</p></li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Proveedores", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="boxitem">
            @Html.LabelFor(m => m.Nombre, new { @class = "spacetext" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="boxitem">
            @Html.LabelFor(m => m.Telefono ,new { @class = "spacetext" })
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telefono)
        </div>
        <div class="boxitem">
            @Html.LabelFor(m => m.Email, new { @class = "spacetext" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="boxitem">
            @Html.LabelFor(m => m.Direccion, new { @class = "spacetext" })
            @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Direccion)
        </div>
        <button type="submit" class="buttons warning">Agregar</button>
    }

    <div>

        @Html.ActionLink("Volver a la Lista", "ListarProveedores",null, new { @class = "buttons info" })

    </div>

</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
