@model EFSRT_TORQUE.Models.Proveedores

@{
    ViewBag.Title = "Detalle Proveedor";
}

<main>


    <div class="txtTittle">
        <p class="paddistance">Detalles del Proveedor</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Informacion de los Datos</p></li>
            </ul>
        </div>
    </div>


    <div>
        <h4>Proveedores</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProveedorID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProveedorID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditProveedor", new { id = Model.ProveedorID  }, new { @class = "buttons warning" }) |
        @Html.ActionLink("Volver a la lista", "ListarProveedores", null, new { @class = "buttons info" })
    </p>


</main>