@model IEnumerable<EFSRT_TORQUE.Models.Proveedores>

@{
    ViewBag.Title = "ListarProveedores";
}

<main>


    <div class="txtTittle">
        <p class="paddistance">Listar Proveedores</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>

    <p>
        @Html.ActionLink("Create New", "CreateProveedor")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProveedorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProveedor", new { id = item.ProveedorID }, new { @class = "buttons info" }) |
                    @Html.ActionLink("Details", "DetailsProveedor", new { id = item.ProveedorID }, new { @class = "buttons warning" }) |
                    @Html.ActionLink("Delete", "DeleteProveedor", new { id = item.ProveedorID }, new { @class = "buttons danger" })
                </td>
            </tr>
        }

    </table>


</main>