@model EFSRT_TORQUE.Models.Productos

@{
    ViewBag.Title = "Agregar Producto";
}
<main class="body">

    <div class="txtTittle">
        <p class="paddistance">Agregar Un Producto</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Nuevo Producto</p></li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Productos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion)
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Descripcion)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Precio)
            @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Precio)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Stock)
            @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Stock)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProveedorID)
            @Html.TextBoxFor(m => m.ProveedorID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProveedorID)
        </div>

        <div class="flexItem">
            <button type="submit" class = "buttons info">Agregar Producto</button>

            @Html.ActionLink("Volver a la Lista", "ListarProductos", new { }, new { @class = "buttons warning" })


        </div>
    }

</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
