@model EFSRT_TORQUE.Models.Productos

@{
    ViewBag.Title = "Eliminar Productos";
}

<main>
    <div class="txtTittle">
        <p class="paddistance">Eliminar Productos</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Producto a Eliminar</p></li>
            </ul>
        </div>
    </div>

    <div class="boxin">
        <div >
            <p>¿Estás seguro de que deseas eliminar este producto?</p>

            <dl style="display:flex;" class="texthei">
                <dt class="sontext">
                    @Html.DisplayNameFor(model => model.ProductoID)
                </dt>
                <dd class="sonbox">
                    @Html.DisplayFor(model => model.ProductoID)
                </dd>
                <!-- Agrega más propiedades del producto si es necesario -->
            </dl>

            @using (Html.BeginForm("DeleteProducto", "Productos", FormMethod.Post, new { id = "deleteForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ProductoID)

                <div class="form-actions">
                    <input type="submit" value="Eliminar" class="buttons danger" />
                    @Html.ActionLink("Cancelar", "ListarProductos", null, new { @class = "buttons info" })
                </div>
            }
        </div>
    </div>
</main>
