@model EFSRT_TORQUE.Models.Productos

@{
    ViewBag.Title = "Details";
}

<main>

    <div class="txtTittle">
        <p class="paddistance">Detalles Producto</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Informacion de los Datos</p></li>
            </ul>
        </div>
    </div>

    <div>
        <h4>Productos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductoID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductoID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProveedorID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProveedorID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditProducto", new { id = Model.ProductoID }, new { @class = "buttons warning" }) |
        @Html.ActionLink("Volver a la lista", "ListarProductos", null, new { @class = "buttons info" })
    </p>



</main>