@model EFSRT_TORQUE.Models.Ventas

@{
    ViewBag.Title = "Agregar Venta";
}
<main class="body">

    <div class="txtTittle">
        <p class="paddistance">Registrar Una Venta</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Nueva Venta</p></li>
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Ventas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="boxitem">
            @Html.LabelFor(m => m.Fecha, new { @class = "itemText" })
            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Fecha)
        </div>

        <div class="boxitem">
            @Html.LabelFor(m => m.ClienteID, new { @class = "itemText" })
            @Html.TextBoxFor(m => m.ClienteID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ClienteID)
        </div>

        <div class="boxitem">
            @Html.LabelFor(m => m.Total, new { @class = "itemText" })
            @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Total)
        </div>

        <button type="submit" class="buttons warning">Agregar</button>
    }

    <div>

        @Html.ActionLink("Volver a la Lista", "ListarVentas",null, new { @class = "buttons info" })

    </div>

</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
