@model EFSRT_TORQUE.Models.Ventas

@{
    ViewBag.Title = "DetailsVenta";
}

<main>
    <div class="txtTittle">
        <p class="paddistance">Detalles de Venta</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Informacion de los Datos</p></li>
            </ul>
        </div>
    </div>


    <div>
        <h4>Ventas</h4>

        <hr />
        <dl class="dl-horizontal">
            <div class="itmdetail">
                <dt>
                    @Html.DisplayNameFor(model => model.VentaID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VentaID)
                </dd>

            </div>


            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClienteID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClienteID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditVenta", new { id = Model.VentaID }) |
        @Html.ActionLink("Volver a la lista", "ListarVentas")
    </p>


</main>