@model EFSRT_TORQUE.Models.Ventas

@{
    ViewBag.Title = "Detalle Venta";
}

<main>
    <div class="txtTittle">
        <p class="paddistance">Detalles de Venta</p>
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon></li>
            <li><ion-icon name="notifications-outline"></ion-icon></li>
            <li><ion-icon name="person-outline"></ion-icon></li>
        </ul>
    </div>
    <div>
        <div class="paddistance bannermenu">
            <ul>
                <li><p>Informacion de los Datos</p></li>
            </ul>
        </div>
    </div>


    <div>

        <hr />
        <dl class="dl-horizontal">
            <div class="boxitem">
                <dt class="spacetext ">
                    @Html.DisplayNameFor(model => model.VentaID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VentaID)
                </dd>

            </div>

            <div class="boxitem">
                <dt class="spacetext">
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.Fecha)
                </dd>
            </div>
            <div class="boxitem">
                <dt class="spacetext">
                    @Html.DisplayNameFor(model => model.ClienteID)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.ClienteID)
                </dd>
            </div>
            <div class="boxitem">
                <dt class="spacetext">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.Total)
                </dd>
</div>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditVenta", new { id = Model.VentaID }, new { @class = "buttons warning" }) |
        @Html.ActionLink("Volver a la lista", "ListarVentas",null, new { @class = "buttons info" })
    </p>


</main>